* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

/* css for topbar */

.topbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 100;
}

/*------brand-----*/
.brand {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  min-width: 270px;
}

.logo {
  width: 60px;
  height: 60px;
  margin: auto 10px;
}
/*-----------------------------*/

/*------right menu bar-------*/
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------*/

.side-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 4%;
  height: 380px;
  padding: 4px;
  border: 2px solid #eee;
  border-radius: 5px;
  padding-right: 50px;
}

.btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #eeeeee;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 3px 3px;
  /* margin-right: -10px; */
}

.btn:hover {
  background-color: #d6d3d3;
  transition: background-color 0.3s ease-in;
}

.btn i:hover ~ .tool-tooltip {
  display: block;
}

.btn i:hover ~ .top-tooltip {
  display: block;
}

.style-background-color {
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tool-tooltip {
  display: none;
  background: #000;
  position: absolute;
  top: 5px;
  left: 40px;
  width: auto;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  z-index: 100;
}

/* Pen Sub Tool */

.pencil-sub-tools {
  width: 57px;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 5px;
  position: absolute;
  top: -120px;
  left: 70px;
}

.picker {
  border: 1px solid #ddd;
}

.pen-clr {
  width: 32px;
  height: 30px;
  border-radius: 100%;
  /* border: 1px solid #ddd; */
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pen-weight {
  display: flex;
}

.pen-weight-input-container {
  flex: 0.8;
}

.pen-weight-input {
  width: 15px;
  outline: none;
  font-size: 12px;
  height: 100%;
  margin: 0;
  border: none;
}

.pen-weight-controls > button {
  margin: 0;
  width: 100%;
}

.pen-weight-controls {
  flex: 0.4;
}

/* Eraser */
.eraser-ctr {
  position: absolute;
  top: 0px;
  left: 70px;
}

.top-tooltip {
  display: none;
  background: #000;
  position: absolute;
  top: 45px;
  width: auto;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  z-index: 100;
}

/*--------------------*/
.bg-img-dropdown {
  position: absolute;
  left: 70px;
  top: -50px;
  border: solid 1px #d6d3d3;
  align-items: center;
  padding: 5px 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.bg-color-dropdown {
  position: absolute;
  left: 70px;
  top: -35px;
  border: solid 1px #d6d3d3;
  padding: 5px 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.black {
  background-color: black;
}
.red {
  background-color: red;
}
.green {
  background-color: seagreen;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.grey {
  background-color: #d6d3d3;
}

.shape-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  flex-direction: column;
  position: absolute;
  top: -180px;
  left: 70px;
  border: 1px solid black;
  border-radius: 0.5rem;
  /* display: none; */
}

/* eraser tool */

.triangle {
  color: #cccccc;
  position: absolute;
  left: -15px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}

.custom-eraser {
  position: absolute;
  left: 70px;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* text area */
.text-options {
  position: absolute;
  width: 50px;
  height: 150px;
  left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cccccc;
  /* display: none; */
}
.txt {
  margin: auto;
}
.triangle-txt {
  color: #cccccc;
  position: absolute;
  left: -15px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}

.none {
  display: none;
}

.main {
  position: absolute;
  top: 100px;
  left: 10px;
}

/* Right tool bar */
.right-tool-bar {
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  top: 27%;
  right: 10px;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 5px;
}
