* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.side-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.btn {
  width: 60px;
  height: 40px;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="file"] {
  width: 30px;
  height: 30px;
}
