* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-moz-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

/* css for topbar */

.topbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 48%;
  z-index: 100;
  margin-top: 10px;
}

/*------brand-----*/
.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  user-select: none;
  /* min-width: 270px; */
}

.logo {
  width: 100px;
  /* margin: auto 10px; */
}
/*-----------------------------*/

/*------right menu bar-------*/
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------*/

.side-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 3%;
  height: 28rem;
  padding: 4px;
  /* border: 2px solid #eee; */
  border-radius: 5px;
  /* padding-right: 50px; */
  /* background-color: white; */
}

.btn {
  width: 45px;
  height: 45px;
  padding: 5px;
  background-color: #eeeeee;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 3px 3px;
  /* margin-right: -10px; */
}

.btn:hover {
  background-color: #d6d3d3;
  transition: background-color 0.3s ease-in;
}

.btn i:hover ~ .tool-tooltip {
  display: block;
}

.btn i:hover ~ .top-tooltip {
  display: block;
}

.style-background-color {
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tool-tooltip {
  display: none;
  background: #000;
  position: absolute;
  top: 5px;
  left: 40px;
  width: auto;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  z-index: 100;
}

/* Pen Sub Tool */

.pencil-sub-tools {
  width: 57px;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 5px;
  position: absolute;
  top: -120px;
  left: 70px;
}

.picker {
  border: 1px solid #ddd;
}

.pen-clr {
  width: 32px;
  height: 30px;
  border-radius: 100%;
  /* border: 1px solid #ddd; */
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.C78585 {
  background-color: #c78585;
}

.C7853F {
  background-color: #c7853f;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pen-weight {
  display: flex;
}

.pen-weight-input-container {
  flex: 0.8;
  /* margin-top: 0.5rem; */
}
.pen-weight-input-container input[type="number"] {
  width: 1.5rem;
  /* border-radius:10px 10px; */
}
.pen-weight-input {
  width: 15px;
  outline: none;
  font-size: 12px;
  height: 100%;
  margin: 0;
  /* margin-top: 0.5rem; */
  border: none;
}

.pen-weight-controls > button {
  margin: 0;
  width: 100%;
}

.pen-weight-controls {
  flex: 0.4;
}

/* Eraser */
.eraser-ctr {
  position: absolute;
  top: 0px;
  left: 70px;
}

.top-tooltip {
  display: none;
  background: #000;
  position: absolute;
  top: 0px;
  left: -60px;
  width: auto;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  z-index: 100;
}

/*--------------------*/
.bg-img-dropdown {
  position: absolute;
  left: 70px;
  top: -50px;
  border: solid 1px #d6d3d3;
  align-items: center;
  padding: 5px 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.bg-img-dropdown img {
  border-radius: 50%;
}

.bg-color-dropdown {
  position: absolute;
  left: 70px;
  top: -35px;
  border: solid 1px #d6d3d3;
  padding: 5px 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.black {
  background-color: black;
}
.red {
  background-color: red;
}
.green {
  background-color: seagreen;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.grey {
  background-color: #d6d3d3;
}

.shape-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 70px;
  border: 1px solid black;
  border-radius: 0.5rem;
  /* display: none; */
}

/* eraser tool */

.triangle {
  color: #cccccc;
  position: absolute;
  left: -15px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}
.bg {
  top: 42px;
}
.tscales {
  top: 62px;
}
.tpen {
  top: 127px;
}
.terase {
  top: 220px;
}
.custom-eraser {
  position: absolute;
  left: 70px;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 2rem;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 10px 0px 0px 10px;
}

/* text area */
.text-options {
  position: absolute;
  width: 50px;
  height: 150px;
  left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
}
.custom-button {
  width: 40px;
  height: 40px;
  /* padding: 5px; */
  background-color: #eeeeee;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* .txt {
  margin: auto;
  padding: auto;
} */
.triangle-txt {
  color: #cccccc;
  position: absolute;
  left: -15px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}

.none {
  display: none;
}

.main {
  position: absolute;
  top: 30px;
  left: 10px;
}

/* Right tool bar */
.right-tool-bar {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: white; */
  position: absolute;
  top: 27%;
  right: 10px;
  padding: 5px;
  /* border: 2px solid #eee; */
  border-radius: 5px;
}

/* Canvas */

#canvas {
  cursor: crosshair;
}
/* custom image input */
label {
  /* padding: 10px; */
  background: #cccccc;
  /* display: table; */
  color: #fff;
}
input[type="file"] {
  display: none;
}
/* .fa-upload {
  color: white;
} */
.text-tool {
  display: none;
}
.shape-tool {
  display: none;
}

#cnv {
  width: 100%;
  height: 100%;
  margin: 0;

  /* Prevent document pinch-zoom & touch-hold-to-highlight */
  touch-action: none;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.nav-link {
  background-color: #284e78;
}

.navbar {
  position: absolute;
  right: 10px;
}
